<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../template/header', {
    title: 'W17部落格 - 編輯文章頁面',
  }) %>
</head>

<body>
  <%- include('../../template/navbar', {
    userPage: {
      admin: {
        username,
        nickname
      }
    }
  }) %>

  <section class="banner">
    <div class="banner__wrapper">
      <h1>存放技術之地</h1>
      <div>Welcome to my blog</div>
    </div>
  </section>

  <div class="container-wrapper">
    <div class="container">
      <div class="edit-post">
        <h3 class="hide error"></h3>
        <% if (article) { %>
          <form class="add__article-form" action="/update-article/<%= article.id %>" method="POST">
            <div class="edit-post__title">
              發表文章：
            </div>
    
            <div class="edit-post__input-wrapper">
              <input class="edit-post__input" name="title" value="<%= article.title %>" placeholder="請輸入文章標題" />
            </div>
    
            <div class="edit-post__input-wrapper">
              <textarea rows="20" name="content" class="edit-post__content"><%= article.content %></textarea>
            </div>
    
            <div class="edit-post__btn-wrapper">
              <input type="submit" class="edit-post__btn" value="送出"></input>
            </div>
          </form>
        <% } %>
      </div>
    </div>
  </div>

  <%- include('../../template/footer') %>
  <script src="/js/add_and_update_article.js"></script>
</body>

</html>