<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('template/header', {
    title: 'W17部落格 - 首頁'
  }) %>
</head>

<body>
  <%- include('template/navbar', {
    userPage: null
  }) %>

  <section class="banner">
    <div class="banner__wrapper">
      <h1>存放技術之地</h1>
      <div>Welcome to my blog</div>
    </div>
  </section>

  <div class="container-wrapper">
    <div class="posts">
      <% if (articles) { %>
        <% articles.forEach(article => { %>
          <article class="post">
            <div class="post__header">
              <div>
                <%= article.title %>
              </div>
            </div>
    
            <div class="post__author-info">
              Posted by 
              <a class="post__author-link" href="/author-page?author_name=<%= article.KWang_blog_user.username %>&author_nickname=<%= article.KWang_blog_user.nickname %>">
                <%= article.KWang_blog_user.nickname %>
              </a>
            </div>
    
            <div class="post__info">
              <%= article.createdAt %>
            </div>
    
            <div class="post__content post__content-hide">
              <%= article.content %>
            </div>
            <a class="btn-read-more" target="_blank" href="/article-page/<%= article.id %>">
              READ MORE
            </a>
          </article>
        <% }) %>
      <% } %>
    </div>
  </div>

  <%- include('template/page_btn', {
    route: '/',
    queryString: 'page'
  }) %>

  <%- include('template/footer') %>
</body>

</html>